@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="align-self:center; width:100%;">
    <h1>Welcome To Calvary Open Bible</h1>
    <p class="lead" style="width:85%;">
        <br />
        Thanks for taking the time to visit us online! At Calvary Open Bible, we are a multi-generational community that desires to share our lives openly to those living with questions about their faith, meaning and life-experiences.
        <br />
        <br />
        We offer a variety of ways to connect if you’re new, and plenty of open ways to discuss life, if you’re searching for a place to call home.    
    </p>
</div>

    <div class="row" style="width:100%; display:inline-block; margin-top:5%;">
        <div class=" col-md-4" style="background-color:lightgray; border-style:none;border-bottom-color:lightgray; border-radius: 25px;height:200px;width:30%;margin-left:1%;margin-right:1.5%;">
            <h2>Our Mission</h2>
            <p>
                <br />
                Get connected with our congreagation, and our mission.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div style="width:3%"></div>
        <div class=" col-md-4" style="background-color:lightgray; border-style:none;border-bottom-color:lightgray; border-radius: 25px;height:200px;width:30%;margin-left:2%;margin-right:2%">
            <h2>Our Leaders</h2>
            <p>
                <br />
                Get to know the amazing staff that is here to support and serve you.
                
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div style="width:3%"></div>
        <div class="col-md-4" style="background-color:lightgray; border-style:none;border-bottom-color:lightgray; border-radius: 25px;height:200px;width:30%;margin-left:1%;margin-right:1.5%;">
            <h2>Our Ministries</h2>
            <p>
                <br />
                Get connected with our growing list of ministries inside and outside the church
                
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
